%br
%script{:type => "text/template", :id => "search_template"}	
	%label Search
	%input{:type => "text", :id => "search_input"}
	%input{:type => "button", :id => "search_button", :value => "Search"}

%script{:type => "text/template", :id => "people_template"}
	<% collection.each(function(user) { %>
	%li
		%ul
			%li
				%strong User ID: 
				<%= user.attributes.id %>
			%li
				%strong User Name: 
				<%= user.attributes.name %>
			%li
				%strong User Nickname: 
				<%= user.attributes.nickname %>
	<% }); %>
	

#search_container
%ul#people