%br
%script{:type => "text/template", :id => "search_template"}	
	%label Search
	%input{:type => "text", :id => "search_input"}
	%input{:type => "button", :id => "search_button", :value => "Search"}

#search_container