!!!  
%html  
  %head  
    %title Resumator
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %body  
    #wrapper  
      #header  
        %h1 Resumator
        %p a simple vcard app
        %hr
      #content  
        =yield