<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Resumator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="/js/libs/jquery-1.8.3.min.js"></script>
    <!-- The Application -->
    <script type="text/javascript" src="/js/application.js"></script>


  </head>

  <% if @user %>
  <body data-resumator_profile_id="<%= @user.id %>">
  <% else %>
  <body>
  <% end %>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner ">
        <div class="container">
          <ul class="nav ">
            <li><a href="/">home</a></li>
            <li class="divider-vertical"></li>
            <% if current_user %>
              <li><a href="/sign_out/">sign out</a></li>
              <li class="divider-vertical"></li>
              <li><a href="/<%= @current_user.nickname %>">Hello <%= @current_user.nickname %></a></li>
              <li class="divider-vertical"></li>
            <% else %>
              <li><a href="/sign_in/">sign in</a></li>
              <li class="divider-vertical"></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>

  <!-- User list template -->
  <script type="text/template" id="users_template">
    <h1>People</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Nickname</th>
          <th>Go To Profile</th>
        </tr>
      </thead>
      <tbody>
        [% _.each(users, function(user) { %]
          <tr>
            <td>[%= user.get('id') %]</td>
            <td>[%= user.get('name') %]</td>
            <td>[%= user.get('nickname') %]</td>
            <td><a class="" href="/[%= user.get('nickname') %]">View Profile</a></td>
          </tr>
        [% }); %]
      </tbody>
    </table>
  </script>

  <!-- Single User Template -->
  <div id="user_view" style="display:hidden">
    <h1 id="user_view_name">the name</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nickname</th>
          <th>Bio</th>
        </tr>
      </thead>
      <tbody>
        <tr id="user_view_profile">
          <td id="user_view_nickname">the nickname</td>
          <td id="user_view_bio">the bio</td>
           <td>
               <a href="#" id="user_view_edit_profile">edit</a>
           </td>
        </tr>
        <tr style="display:hidden" id="user_view_profile_edit">
            <form id="user_view_profile_form">
            <td>
                <input type="text" placeholder="Nickname" name="nickname"/>
            </td>
            <td>
                <input type="textarea" placeholder="Bio" name="bio"/>
            </form>
            </td>
            <td>
                <a href="#" id="user_view_profile_edit_save">save</a>
                <a href="#" id="user_view_profile_edit_cancel">cancel</a>
            </td>
        </tr>
      </tbody>
    </table>
<<<<<<< HEAD
    <a href="#" class="btn edit-btn">Edit</a>
  </script>

  <!-- Edit User Template -->
  <script type="text/template" id="edit_template">
    <div class="well">
      <h3>Edit User</h3>
      <form>
        <fieldset>
          <label>Name</label>
          <input type="text" placeholder="Name">
          <label>Bio</label>
          <textarea rows="6" placeholder="About you"></textarea>
          <br/>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    </div>
  </script>

  <!-- The Application -->
  <script type="text/javascript" src="/app/application.js"></script>
</html> 
=======
    <h2>Links</h2>
    <ul id="user_view_links">
        <!-- link template -->
        <li id="user_view_link" style="display:hidden">
          <span id="user_view_link_name">the link name</span>
          <span id="user_view_link_url">the link url</span>
          <a href="#" 
             style="display:hidden" 
             id="user_view_edit_link">edit</a>
         <a href="#" 
            style="display:hidden" 
            id="user_view_remove_link">remove</a>
        </li>
        <li id="user_view_link_edit" style="display:none">
            <form id="user_view_link_form">
                <input type="text" placeholder="URL" name="url"/>
                <input type="text" placeholder="Name" name="name"/>
            </form>
            <a href="#" id="user_view_link_edit_save">save</a>
            <a href="#" id="user_view_link_edit_cancel">cancel</a>
        </li>
    </ul>
    <a href="#" id="user_view_add_link">add</a>
  </div>
</html> 
>>>>>>> develop
