!!!  
%html  
  %head  
    %title Resumator
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %body  
    #wrapper  
      #header  
        %h1 Resumator
        %a{:href => '/'} Home
        %span • 
        %a{:href => '/people/'} People
        %span • 
        - if current_user
          %a{:href => '/sign_out/'} Sign Out
          %span • 
          Hello
          %a{:href => '/' + @current_user.nickname}
            = @current_user.nickname
        - else
          %a{:href => '/sign_in/'} Sign In
      #content
        =yield