!!!  
%html  
  %head  
    %title Resumator
  %body  
    #wrapper  
      #header  
        %h1 Resumator
        %h2 a simple vcard app
        %a{:href => 'sign_out'} Sign Out
      #content  
        =yield