html, body {
  font-family: 'helvetica';
  height:100%;
  margin:0 auto;
  line-height: 1.5;
  font-size:15px;
}

.main {
  margin-top:80px;
}

.content, .cover {
  width: 50%;
  height:100%;
  float: left;
}

.cover {
  background-image:url('../img/cover.jpg');
  background-size: cover;
}

.content-wrap {
  margin-top:160px;
  margin-left:90px;
  max-width:300px;
}

.nav {
  display: none;
}

h1 {
  font-size:22px;
  margin:0;
  margin-bottom:0px;
}

p {
  font-size:15px;
  color:#808080;
  margin:0;
  margin-bottom:20px;
}

a {
  color:#000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


ul, li {
  list-style-type: none;
  margin:0;
  padding:0;
}